BASE_URL=http://canvas.io.vn
API_TOKEN=replace-with-your-canvas-api-token
PROM_URL=http://127.0.0.1:30090/api/v1/write
PROMETHEUS_URL=http://127.0.0.1:30090
RESULTS_REPO_URL=https://github.com/giakhanh22024558/canvas-k8s-results.git
RESULTS_REPO_DIR=testing/results-publish-repo
TEST_TYPE=load
TEST_LOGIN_EMAIL=
TEST_LOGIN_PASSWORD=
SUBMISSION_API_TOKEN=
RUNS_PER_SCENARIO=9
COOLDOWN_SECONDS=600
FLUSH_REDIS_BETWEEN_RUNS=false
