BASE_URL=http://canvas.io.vn
API_TOKEN=replace-with-your-canvas-api-token
PROM_URL=http://127.0.0.1:30090/api/v1/write
RCLONE_REMOTE=replace-with-your-rclone-remote-name
GDRIVE_FOLDER_ID=1xZTs4SQBAtJhCcMfRSto9neAn9eVFf1A
